header {
  height: 100px;
  background-color: #c9d1ae;
  border-radius: 5px;
}

.headerItems {
  display: flex;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1.8em;
  font-family: cursive;
  font-weight: 300;
  line-height: 1.1;
  color: #3b2e24;
  text-align: center;
}

.icon {
  width: 75px;
}

article.journal-entry {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-image-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}

.main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ubication {
  margin-top: 5px;
  width: 20px;
  height: 20px;
}

article.journal-entry .ubication {
  width: fit-content;
  margin-right: 4px;
}

div.info-container {
  background-color:#EFF3EA ;
  border-radius: 5px;
}


.info-container span.country {
  text-transform: uppercase;
  font-size: 1rem;
  margin-right: 12px;
}

.info-container a {
  color: #4124cd;
  font-size: 0.7rem;
}

.info-container a:visited {
  color: #918e9b;
}

.info-container h2.entry-title {
  margin-top: 7px;
  margin-bottom: 17px;
}

.info-container p.trip-dates {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.info-container p.entry-text {
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.5;
  font-size: 1.1rem;
  display: block;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
