header {
  height: 150px;
  background-color: #adc178;
}

nav {
  display: flex;
  justify-content: center;
  
}

h2 {
  font-size: 1.8em;
  font-family: cursive;
  font-weight: 300;
  line-height: 1.1;
  margin-top: 20px;
  color: #3b2e24;
  text-align: center;
}

.icon {
  width: 75px;
}

.headerItems {
  display: flex;
  margin-top: 25px;
}